:root {
    --ff-roboto: 'Roboto Slab';
    --ff-josefin: 'Josefin Sans';
}

html {
    box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--ff-josefin);
}

a {
    display: block;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header {
    padding-top: 20px;
}

.header__logo {
}

.header__logo__link {
    margin-bottom: 20px;
}

.header__form__search {
    margin-bottom: 20px;
}

.header__input__search {
    max-width: 536px;
    width: 100%;
    padding: 12px 12px 12px 20px;
    background-color: #F0F0F0;
    outline: none;
    border-radius: 25px;
    border: 1px solid #F0F0F0;
    font-weight: 300;
    position: relative;
}

.header__input__button {
    position: absolute;
    top: 13px;
    right: 30px;
}

.fa-user {
    font-size: 18px;
}

.fa-shopping-bag {
    font-size: 18px;
}

.fa-search {
    font-size: 20px;
}

.header__form__login {  
    padding-bottom: 10px;
}

.form__login_in,
.form__login_out {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.form__login_out {
    margin-left: 13px;
}

.form__login_in:hover,
.form__login_out:hover {
    text-decoration: none;
    color: #000;
}

.nav__overlay {
    background-color: #282828;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav__overlay:hover .header__nav__list {
    display: block;
    transition: 0.35s;
}

.header__nav__button {
    display: block;
    width: auto;
    background-color: #555555; 
    outline: none;
    padding: 3px 7px; 
    border-radius: 5px;
    color: #fff; 
    margin-bottom: 8px;
}

.header__nav__list {
    list-style: none;
    display: none;
}

.header__nav_item {
    margin-bottom: 5px;
    display: inline-block;
    width: 88%;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: transparent;
}

.header__nav_link {
    color: #fff;
    font-size: 13px;
    display: inline-block;
}

.header__nav_link_new {
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 8px;
    background-color: #F51067;
    border-radius: 30px;
    padding: 4px 6px 2px 5px; 
}

.header__nav__sub_list_shoes,
.header__nav__sub_list_pages {
    list-style: none;
    display: none;
}

.header__nav_sub_item_shoes,
.header__nav_sub_item_pages {
    margin-bottom: 15px;
}

.header__nav_sub_link_shoes,
.header__nav_sub_link_pages {
    color: #fff;
    font-size: 13px;
}

.header__nav_link_shoes:hover .header__nav__sub_list_shoes {
    display: block;
}

.header__nav_link_pages:hover .header__nav__sub_list_pages {
    display: block;
}

.header__nav_item:hover {
    background-color: #ccc;
}

.header__nav_item:hover .header__nav_link {
    color: #555;
    text-decoration: none;
}

.header__nav_sub_link_shoes:hover,
.header__nav_sub_link_pages:hover