footer
  .container
    .footer__inner
      p.footer__slogan
        | &copy; 2016 MoGo free PSD template by 
        span.footer__slogan_mark Laaqiq
      form.footer__info(action='#')
        input.footer__info_input(type='text' placeholder='Your Email...')
        button.footer__info_btn SUBSCRIBE
