header.header
  .container
    .header__inner
      a.header__logo-link(href="#") MoGo
      nav.header__nav
        ul.header__nav-list
          li.header__nav-item
            a.header__nav-link(href="#") About
          li.header__nav-item
            a.header__nav-link(href="#") Service
          li.header__nav-item
            a.header__nav-link(href="#") Work
          li.header__nav-item
            a.header__nav-link(href="#") Blog
          li.header__nav-item
            a.header__nav-link(href="#") Contact
          li.header__nav-item
            a.header__nav-link(href="#")
              svg.header__nav-icon(width="16" height="16")
                use(href="img/sprite/sprite.svg#icon-cart") 
          li.header__nav-item
            a.header__nav-link(href="#")
              svg.header__nav-icon(width="16" height="16")
                use(href="img/sprite/sprite.svg#icon-search") 
  include ../includes/preview
            