section.service.indentation
  .container
    h2.service__title
      span.service__sub_title.sub_title We work with
      |                   Amazing service
    ul.service__list
      li.service__item
        svg.header__nav-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-alarm')
        h3.service__title_h3
          | Photography
        p.service__desc
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      li.service__item
        svg.header__nav-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-graph')
        h3.service__title_h3
          | Web design
        p.service__desc
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      li.service__item
        svg.header__nav-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-computer')
        h3.service__title_h3
          | Creaivity
        p.service__desc
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      li.service__item
        svg.header__nav-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-book')
        h3.service__title_h3
          | Seo
        p.service__desc
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      li.service__item
        svg.header__nav-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-home')
        h3.service__title_h3
          | Css/html
        p.service__desc
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      li.service__item
        svg.header__nav-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-image')
        h3.service__title_h3
          | Digital
        p.service__desc
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
