section.team.indentation
  .container
    h2.team__title
      span.team__sub_title.sub_title Who we are
      |                   Meet our team
    p.team__desc
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    ul.team__list
      li.team__item
        .team__avatar_wrap
          picture.team__photo
            source(srcset='img/1@2x.png 2x')
            img(src='img/1.jpg' alt='' width='380' height='470')
          .team__avatar
            ul.team__social_list
              li.team__social_item
                a.team__social_link.icon_facebook(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-facebook')
              li.team__social_item
                a.team__social_link.icon_twitter(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-twitter')
              li.team__social_item
                a.team__social_link.icon_pinterest(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-pinterest')
              li.team__social_item
                a.team__social_link.icon_instagram(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-instagram')
        h3.team__name
          | Matthew Dix
        p.team__occupation
          | Graphic Design
      li.team__item
        .team__avatar_wrap
          picture.team__photo
            source(srcset='img/2@2x.png 2x')
            img(src='img/2.jpg' alt='' width='380' height='470')
          .team__avatar
            ul.team__social_list
              li.team__social_item
                a.team__social_link.icon_facebook(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-facebook')
              li.team__social_item
                a.team__social_link.icon_twitter(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-twitter')
              li.team__social_item
                a.team__social_link.icon_pinterest(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-pinterest')
              li.team__social_item
                a.team__social_link.icon_instagram(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-instagram')
        h3.team__name
          | Christopher Campbell
        p.team__occupation
          | Branding/UX design
      li.team__item
        .team__avatar_wrap
          picture.team__photo
            source(srcset='img/3@2x.png 2x')
            img(src='img/3.jpg' alt='' width='380' height='470')
          .team__avatar
            ul.team__social_list
              li.team__social_item
                a.team__social_link(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-facebook')
              li.team__social_item
                a.team__social_link(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-twitter')
              li.team__social_item
                a.team__social_link(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-pinterest')
              li.team__social_item
                a.team__social_link(href='#')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-instagram')
        h3.team__name
          | Michael Fertig
        p.team__occupation
          | Developer
