// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;


$yellow-color: #fce38a;
$pink-color: #f38181;
$grey-color: #333;
$light-grey-color: #999;
$white-color: #fff;
$ff-kaushan-script: 'Kaushan Script';
$ff-montserrat: 'Montserrat', Helvetica, sans-serif;
$ff-roboto: 'Roboto';

